body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  background-color: #2d3442;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
